<div class="input-group">
    <input type="text" class="form-control" placeholder="@Prompt" aria-label="@Prompt" aria-describedby="basic-addon2">
    <button class="input-group-append btn btn-primary">@Command</button>
</div>

@code {
    [Parameter]
    public string Command { get; set; }

    [Parameter]
    public string Prompt { get; set; }
}
