@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

    <div class="main">

        <div class="main-body">
            @Body
        </div>

        <div class="top-row pl-4 d-flex flex-row align-items-center">
            <div class="h-100 logo-container pt-3 pb-3 pr-2">
                <img class="w-100 h-100 logo" src="Runner-white.png" />
            </div>
            <a class="logo-text" href="">Agility Poker</a>
        </div>
    </div>
