@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

    <div class="main">
        <div class="top-row pl-4 d-flex flex-row align-items-center">
            <div class="logo-container">
                <img class="logo" src="Runner.png" />
            </div>
            <a class="logo-text" href="">Agility Poker</a>
        </div>

        <div class="main-body">
            @Body
        </div>
    </div>
