@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

    <div class="main">
        <div class="top-row pl-4 d-flex flex-row align-items-center">
            <a class="logo-text" href="">Faster Pointing Poker</a>
        </div>

        <div class="main-body">
            @Body
        </div>
    </div>
