<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/47561f04-5910-4961-806f-d53819029c2d/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.ContainerRegistry/registries/registry20200519215928</ContainerResourceId>
    <ContainerResourceName>registry20200519215928</ContainerResourceName>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20200519215928.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/47561f04-5910-4961-806f-d53819029c2d/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/FastPointingPoker</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://fastpointingpoker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://fastpointingpoker.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c1119b73-4ea2-49f7-bd13-8eea5b48d5f2</ProjectGuid>
  </PropertyGroup>
</Project>