<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/fa4a683b-037e-4592-b644-4adf21f80527/resourceGroups/AgilityPokerResourceGroup/providers/Microsoft.ContainerRegistry/registries/registry20200520213828</ContainerResourceId>
    <ContainerResourceName>registry20200520213828</ContainerResourceName>
    <Subscription>Pay-As-You-Go</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20200520213828.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/fa4a683b-037e-4592-b644-4adf21f80527/resourcegroups/AgilityPokerResourceGroup/providers/Microsoft.Web/sites/PointingPoker20200520222503</ResourceId>
    <ResourceGroup>AgilityPokerResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://pointingpoker20200520222503.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://pointingpoker20200520222503.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c1119b73-4ea2-49f7-bd13-8eea5b48d5f2</ProjectGuid>
  </PropertyGroup>
</Project>