@page "/"

@using PointingPoker.Data
@inject UserManager UserManager
@inject NavigationManager NavigationManager
@inject PointingSessionManager PointingSessionManager

<div class="container">
    <div class="row">
        <div class="card col-sm m-2">
            <div class="card-body">
                <h5 class="card-title">Create a pointing session</h5>
                <p class="card-text">Create a new session for your group to assign points to stories.</p>
                <a href="#" @onclick="CreatePointingSession" class="btn btn-primary">Create</a>
            </div>
        </div>
        <div class="card col-sm m-2">
            <div class="card-body">
                <h5 class="card-title">Join a session</h5>
                <p class="card-text">Join an existing pointing session.</p>
                <a href="#" @onclick="JoinPointingSession" class="btn btn-primary">Join</a>
            </div>
        </div>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var userId = await UserManager.GetUserIdAsync();
    }

    private void CreatePointingSession()
    {
        var session = PointingSessionManager.Create();
        NavigationManager.NavigateTo($"/configure/{session.Id}");
    }

    private void JoinPointingSession()
    {

    }
}